<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/rabbit
 	http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-4.0.xsd
 	http://www.springframework.org/schema/beans
 	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <context:property-placeholder location="classpath:rabbitmq.properties" ignore-unresolvable="true" />
    <!-- 配置连接工厂 -->
    <rabbit:connection-factory id="connectionFactory" publisher-returns="true" publisher-confirms="true"
                               host="${rabbitmq.host}" port="${rabbitmq.port}" username="${rabbitmq.username}" password="${rabbitmq.password}" virtual-host="${rabbitmq.virtualHost}"/>

    <!-- 定义mq管理 -->
    <!--通过指定下面的admin信息，当前producer中的exchange和queue会在rabbitmq服务器上自动生成 -->
    <rabbit:admin connection-factory="connectionFactory" />

    <!-- 声明队列 -->
    <rabbit:queue name="queue" auto-declare="true" durable="true" exclusive="false"/>

    <!-- 延迟队列 -->
    <rabbit:queue name="delay_queue" auto-declare="true">
        <rabbit:queue-arguments>
            <entry key="x-message-ttl" value="5000" value-type="java.lang.Long" />
            <entry key="x-dead-letter-exchange" value="exchange_delay" />
            <entry key="x-dead-letter-routing-key" value="task_queue" />
        </rabbit:queue-arguments>
    </rabbit:queue>

    <!-- 定义交换机绑定队列（路由模式） -->
    <rabbit:direct-exchange name="IExchange" id="IExchange" durable="true" auto-delete="true">
        <rabbit:bindings>
            <rabbit:binding queue="queue" key="queuekey" />
        </rabbit:bindings>
    </rabbit:direct-exchange>
    <rabbit:fanout-exchange name="FExchange" id="FExchange" durable="true" auto-delete="true">
        <rabbit:bindings>
            <rabbit:binding queue="queue" />
        </rabbit:bindings>
    </rabbit:fanout-exchange>

    <!-- 消息对象json转换类 -->
    <bean id="jsonMessageConverter"
          class="org.springframework.amqp.support.converter.SimpleMessageConverter" />

    <!--定义rabbit template用于数据的接收和发送 -->
    <rabbit:template id="rabbitTemplate"
                     connection-factory="connectionFactory" exchange="IExchange"
                     message-converter="jsonMessageConverter" />

</beans>